{% include 'navbar.html' %}
<div class="col-md-6 offset-md-3 evento">
    <div class="card" style="width: 100%;">
        <img src="{{ url_for('static', filename='Politico.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Eventos Políticos</h5>
          <p class="card-text">Aquí puedes registrar más eventos políticos</p>
          <a href="#" class="btn btn-primary">Agregar Eventos</a>
        </div>
      </div>

</div>
{% include 'main.html' %}
