{% include 'navbar.html' %}

<div class="col-md-6 offset-md-3 evento">
    <div class="card" style="width: 100%;">
        <img src="{{ url_for('static', filename='Cultural.jpeg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Eventos Culturales</h5>
          <p class="card-text">Aquí se pueden registrar más Eventos Culturales</p>
          <a href="#" class="btn btn-primary">Agregar Eventos</a>
        </div>
      </div>



</div>

{% include 'main.html' %}
