<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>


<footer class="bg-light text-dark pt-5 pb-4">
    <div class="conteiner text-center text-md-start">
        <div class="row text-center text-md-start">
            <div class="col-md-3 col-lg-3 col-lx-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fond-waight-bold text-primary">Nosotros</h5>
                <hr class="mb-4">
                <p>
                    Somos una empresa que tiene el objetivo es brindar a los artistas locales (de diversos sectores creativos como: artes escénicas como música o baile, artesanías, diseño, museos, etc.) la oportunidad de exponer su talento y llevar un poco de cultura a la ciudadanía Ensenadense.
                </p>

            </div>
            <div class="col-md-2 col-lg-2 col-lx-2 mx-auto mt-3">
                <h5 lass="text-uppercase mb-4 fond-waight-bold text-primary">Categorias</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text dark">Evento musical</a>
                </p>
                <p>
                    <a href="#" class="text dark">Evento artístico</a>
                </p>
                <p>
                    <a href="#" class="text dark">Evento político</a>
                </p>
                <p>
                    <a href="#" class="text dark">Evento deportivo</a>
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-lx-2 mx-auto mt-3">
                <h5 lass="text-uppercase mb-4 fond-waight-bold text-primary">Sobre nosotros</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text dark">Nuestra historia</a>
                </p>
                <a href="#" class="text dark">Misión, visión y valores</a>
                <p>
                </p>
                <p>
                    <a href="#" class="text dark">Políticas de seguridad</a>
                </p>
                <p>
                    <a href="#" class="text dark">Términos del servicio</a>
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-lx-2 mx-auto mt-3">
                <h5 lass="text-uppercase mb-4 fond-waight-bold text-primary">Contacto</h5>
                <hr class="mb-4">
                <p>
                    <li class="fas  fa-home me-3"></li>Ensenada, México
                </p>
                <p>
                    <li class="fas  fa-envelope me-3"></li>creativeEns@gmail.com
                </p>
                <p>
                    <li class="fas  fa-phone me-3"></li>+555555
                </p>
                <p>
                    <li class="fas  fa-print me-3"></li>+555555
                </p>
             
            </div>
        </div>
        <hr class="mb-4">
        <div class="text-center mb-2">
            <p>
                Copyright Todos los derechos reservados
                <a href="#">
                    <strong class="text-primary">test</strong>
                </a>
            </p>
        </div>
        <div class="text-center">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a href="#" class="text-dark"> <i class="fab fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="text-dark"> <i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="text-dark"> <i class="fab fa-google-plus"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="text-dark"> <i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="text-dark"> <i class="fab fa-youtube"></i></a>
                </li>
            </ul>

        </div>
    </div>
</footer>


 
    
</body>
</html>